In [6]:
import pandas as pd
from pytrends.request import TrendReq
import matplotlib.pyplot as plt

%matplotlib inline
plt.rcParams["figure.figsize"] = [16, 6]
pt = TrendReq()
df = pt.trending_searches(pn='brazil')
df.head(5)

                         0
0                   Taiwan
1            Sul-Americana
2                  Benfica
3             Mônaco x PSV
4  Atlético-MG x Palmeiras

In [11]:
import pandas as pd
from pytrends.request import TrendReq
import matplotlib.pyplot as plt

%matplotlib inline
plt.rcParams["figure.figsize"] = [16, 6]
pt.build_payload(['cerveja', 'november'])
df = pt.interest_over_time()
df.head()

            cerveja  november  isPartial
date
2017-08-06        2         7      False
2017-08-13        2         8      False
2017-08-20        2        10      False
2017-08-27        2         9      False
2017-09-03        2        10      False